/vendor/
composer.lock.bak
/.idea/
/.vscode/
/.phpunit.cache/
/.phpunit.result.cache
/.phpstan.cache/
/.pint.cache
.phpunit.xml
phpunit.xml
.env
.env.local
/build/
/coverage/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/node_modules/
.DS_Store
